<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </style>
    <title>ETA-bus</title>
</head>
<body>
    <center>
    <h1>Bus Estimate time</h1>
    <form method="post">
        <label for="per_route">Route:</label>
        <input type="number" name="per_route" id="per_route"><br><br>
        <label type='text' name="date" id="date">Current Time:</label>
        <input type="text" name="date" id="date"><br><br>
        <input type="submit" value="Submit">
    </center>
</body>
</html>